<div>
  <%=link_to 'Back', 'javascript:history.back()'%>
  <%= form_tag '/login' do %>
    Username: <%= text_field_tag :user_name %><br>
    Password: <%= password_field_tag :password %><br>
    <%= submit_tag "Log In" %>
  <% end %>
</div>