
<%= form_for(note) do |f| %>
  <div class="form-group">
    <%= f.text_area :content, class: "form-control", placeholder: "Make a note" %>
    <%= f.hidden_field :notable_id %>
    <%= f.hidden_field :notable_type %>
  </div>
  <%= f.submit class: "btn btn-primary" %>
  
<% end %>