<div class="info form">
  <%= form_for(note) do |f| %>
      <%= f.text_area :content, class: "table_input" %>
      <%= f.hidden_field :notable_id %>
      <%= f.hidden_field :notable_type %>
      <%= f.submit class: "submit" %>
  <% end %>
</div>