<div class="info form">
  <%= form_for(store) do |f| %>
    <%= f.label :name, class: "label"%>
    <%= f.text_field :name, class: "input" %><br>

    <%= f.label :unit_or_building, class: "label"%>
    <%= f.text_field :unit_or_building, class: "input" %><br>

    <%= f.label :street_number, class: "label"%>
    <%= f.text_field :street_number, class: "input" %><br>

    <%= f.label :street_name, class: "label"%>
    <%= f.text_field :street_name, class: "input" %><br>

    <%= f.label :suburb, class: "label"%>
    <%= f.text_field :suburb, class: "input" %><br>

    <%= f.label :postcode, class: "label"%>
    <%= f.number_field :postcode, class: "input" %><br>

    <%= f.label :city, class: "label"%>
    <%= f.text_field :city, class: "input" %>

    <br>
    <%= f.submit class: "submit" %>
  <% end %>
</div>