<h3><%= store.name %></h3>
<h4><%= store.unit_or_building %></h4>
<h4><%= store.street_number %></h4>
<h4><%= store.street_name %></h4>
<h4><%= store.suburb %></h4>
<h4><%= store.postcode %></h4>
<h4><%= store.city %></h4>