
<h3><%= store.name %></h3>
<p><%= store.unit_or_building %><br/>
<%= store.street_number %> <%= store.street_name %><br/>
<%= store.suburb %><br/>
<%= store.postcode %><br/>
<%= store.city %></p>
<% store.receipts.each do |receipt| %>
    <%=receipt.id%> <%= link_to receipt.date.strftime("%B %d, %Y"), receipt_path(receipt.id) %>, <%=receipt.time.strftime('%H:%M')%>
    <% receipt.notes.each do |note|%>
        <p><%= note.content %></p>
    <% end %>
<%end%>