<div class="signup_container">
  <%=link_to 'Back', 'javascript:history.back()'%>
  <%= form_for(@user) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username, class: 'signup_form_inputs' %><br>

    <%= f.label :email %>
    <%= f.text_field :email, class: 'signup_form_inputs' %><br>

    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: 'signup_form_inputs' %><br>

    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: 'signup_form_inputs' %><br>

    <%= f.label :contact_number %>
    <%= f.text_field :contact_number, class: 'signup_form_inputs' %><br>

    <%= f.label :unit_number %>
    <%= f.text_field :address_unit_number, class: 'signup_form_inputs' %><br>

    <%= f.label :street_number %>
    <%= f.text_field :address_street_number, class: 'signup_form_inputs' %><br>

    <%= f.label :street_name %>
    <%= f.text_field :address_street_name, class: 'signup_form_inputs' %><br>

    <%= f.label :suburb %>
    <%= f.text_field :address_suburb, class: 'signup_form_inputs' %><br>

    <%= f.label :city %>
    <%= f.text_field :address_city, class: 'signup_form_inputs' %><br>

    <%= f.label :state %>
    <%= f.text_field :address_state, class: 'signup_form_inputs' %><br>

    <%= f.label :postcode %>
    <%= f.number_field :address_postcode, class: 'signup_form_inputs' %><br>

    <%= f.label :country %>
    <%= f.text_field :address_country, class: 'signup_form_inputs' %><br>

    <%= f.label :password %>
    <%= f.text_field :password, class: 'signup_form_inputs'  %><br>

    <%= f.label :password_confirmation %>
    <%= f.text_field :password_confirmation, class: 'signup_form_inputs'  %><br>



    <br>
    <%= f.submit class: "signup_form_submit" %>
  <% end %>
</div>