<%= form_for(item) do |f| %>
  <tr>
    <th colspan=2>Name</th>
    <th colspan=2>Price</th>
    <th colspan=2>Tax</th>
  </tr>
  <tr>
    <td colspan=2><%= f.text_field :name , class: "table_input"%></td>
    <td colspan=2><%= f.number_field :price, step: :any, placeholder: 0.00 , class: "table_input"%></td>
    <td colspan=2><%= f.number_field :tax, step: :any, placeholder: 0.00 , class: "table_input"%></td>
  </tr>
  <%= f.hidden_field :itemable_id %>
  <%= f.hidden_field :itemable_type %>
  <tr>
    <td colspan=5><%= f.submit class: "submit_item" %></td>

<% end %>
