<h3>Add an item</h3>
<%= form_for(item) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :price %>
  <%= f.number_field :price, step: :any, placeholder: 0.00 %>

  <%= f.label :tax %>
  <%= f.number_field :tax, step: :any, placeholder: 0.00 %>

  <%= f.hidden_field :itemable_id %>
  <%= f.hidden_field :itemable_type %>

  <br>
  <%= f.submit class: "btn btn-primary" %>
<% end %>