<%if item.name && item.price > 0.00%>
  <tr>
    <td><%= item.name %></td>
    <td>$<%= item.price %></td>
    <td>$<%= item.tax %></td>
    <td><%= render partial: "notes/note", collection: item.notes.all, as: :note %></td>
    <td colspan=2><%= render partial: "notes/form", locals: {note: item.notes.build} %></td>
  </tr>
<%end%>