<%if item.name && item.price > 0.00%>
  <table>
    <tr>
      <th>Product Name</th>
      <th>Price</th>
      <th>Tax</th>
      <th>Notes</th>
      <th>Make a note</th>
    </tr>
    <tr>
      <td><%= item.name %></td>
      <td>$<%= item.price %></td>
      <td>$<%= item.tax %></td>
      <td><%= render partial: "notes/note", collection: item.notes.all, as: :note %></td>
      <td><%= render partial: "notes/form", locals: {note: item.notes.build} %></td>
    </tr>
  </table>
<% end %>