<%if item.name && item.price > 0.00%>
     <p><span class="items"><%= item.name %><br/>
       Price: $<%= item.price %><br/>
        Tax: $<%= item.tax %><br/>
        </span>
        <span class="items_notes">
            <%= render partial: "notes/notes", locals: {notes: item.notes} %>
            <%= render partial: "notes/form", locals: {note: item.notes.build} %>
        </span>
        </p>
<% end %>