
<%= form_for(receipt) do |f| %>
  <%= f.label :store_name %>
  <%= f.collection_select :store_id, Store.all, :id, :name %><br>

  <%= f.submit class: "btn btn-primary" %>
<% end %>

<h4> If the store you require is not present in the dropdown list, you can add a new store here.</h4>
<%= link_to "Add store", new_store_path %>