<h1>Your receipts</h1>
<%= link_to("Add new receipt", new_receipt_path) %>
<br>
<% @receipts.each do |receipt| %>
    <%= link_to receipt.id, receipt_path(receipt.id) %>
    <h4><%= receipt.store_name %></h4>
    <%= render partial: "categories/categories", locals: {categories: receipt.categories.all} %>
    <%= render partial: "categories/form", locals: {category: receipt.categories.build} %>
    <br>
<% end %>
