

<div class="container">
    <div class="body">
        <h3 class="banner" >Hey <%= @user.first_name %>,</h3>
        <% if @receipts.length == 0 %>
            <p class="info">Please begin by adding a receipt</p>
        <% elsif @receipts.length > 0 %>
            <h4 class="info">Here are your receipts:</h4>
            <table>
                <tr>
                    <th></th>
                    <th>Receipt name</th>
                    <th>Store name</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Categories</th>
                    <th>Notes</th>
                </tr>
                <tr>
                    <% @receipts.each do |receipt| %>
                        <td><%= link_to receipt.id, receipt_path(receipt.id), class:"links_to_ind" %></td>
                        <td><%= link_to receipt.name, receipts_path(receipt.id), class:"links_to_ind" %></td>
                        <td><%= link_to receipt.store_name, receipt_path(receipt.id), class:"links_to_ind" %></td>
                        <td><%= link_to receipt.date.strftime("%B %d, %Y"), receipt_path(receipt.id), class:"links_to_ind" %></td>
                        <td><%= link_to receipt.time.strftime('%H:%M'), receipt_path(receipt.id), class:"links_to_ind" %></td>
                        <td><%= render partial: "categories/categories", locals: {categories: receipt.categories.all}%></td>
                        <td><%= render partial: "notes/notes", locals: {notes: receipt.notes.all} %></td>
                        </div>
                    <% end %>
            </table>
        <%end%>
    </div>
</div> 
