
<div class="links_container">
    <%= link_to "Log Out", logout_path, :method => :delete, class: "links" %>
    <%= link_to "Add new receipt", new_receipt_path, class: "links" %>
</div>
<div class="container">
    <div class="body">
        <h3 class="banner" >Hey <%= @user.first_name %></h3>
        <% if @receipts.length == 0 %>
            <p class="info">Please begin by adding a receipt</p>
        <% elsif @receipts.length > 0 %>
            <h4 class="info">Your receipts:</h4>
            <% @receipts.each do |receipt| %>
                <div class="info">
                    <%= link_to "#{receipt.id} - #{receipt.store_name} - #{receipt.date.strftime("%B %d, %Y")} -  #{receipt.time.strftime('%H:%M')}", receipt_path(receipt.id), class:"links_to_ind" %>
                    <%= render partial: "categories/categories", locals: {categories: receipt.categories.all}%>
                    <%= render partial: "notes/notes", locals: {notes: receipt.notes.all} %>
                    <br/>
                </div>
            <% end %>
        <%end%>
    </div>
</div>
<div class="stores_links_container">
    <%= link_to "Stores", stores_path, class: "store_link"%>
</div>
