<%= link_to("Add new receipt", new_receipt_path) %>
<h1>Your receipts</h1>
<% @receipts.each do |receipt| %>
    <%=receipt.id%> <%= link_to receipt.store_name, receipt_path(receipt.id) %>, <%=receipt.date.strftime("%B %d, %Y")%>, <%=receipt.time.strftime('%H:%M')%>
    <% receipt.notes.each do |note|%>
        <p><%= note.content %></p>
    <% end %>
    <%= render partial: "categories/categories", locals: {categories: receipt.categories.all} %>
    <%= render partial: "categories/form", locals: {category: receipt.categories.build} %>
    <br>
<% end %>
