<div class="links_container">
    <%= link_to "Back to receipts", receipts_path, class: "links"%>
</div>
<div class="container">
    <h4 class="banner"><%=@receipt.name%></h4>
    <div class="receipt_notes">
        <%= render partial: "notes/notes", locals: {notes: @receipt.notes} %>
    </div>
    <div class="receipt_store_name">
        <p><span class="underline">Store name</span><br/>
            <%= link_to @receipt.store.name, store_path(@receipt.store), class:"links_to_ind"%>
        </p>
    </div>
    <%= render partial: "notes/form", locals: {note: @receipt.notes.build} %>
    <%= render partial: "items/form", locals: {item: @receipt.items.build} %>
    <div>
        <%if @receipt.items.size > 1 %>
            <%= render partial: "items/item", collection: @receipt.items, as: :item || 'There are no items' %>
        <%end%>
    </div>
    
</div>
